<div *ngIf="client" class="well well-sm">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <img src="{{client.general.avatar}}" title="{{client | fullName}}" alt="{{client | fullName}}" class="img-rounded img-responsive user-avatar-large" />
        </div>
        <div class="col-sm-6 col-md-8">
            <h4>{{client | fullName}}</h4>
            <small><cite title="{{client.address.country}}">{{client.address.street}}, {{client.address.city}}, {{client.address.zipCode}}, {{client.address.country}} <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-tower"></i>{{client.job.title}} at {{client.job.company}}
              <br />
              <i class="glyphicon glyphicon-envelope"></i><a href="mailto:{{client.contact.email}}">{{client.contact.email}}</a>
              <br />
              <i class="glyphicon glyphicon-earphone"></i><a href="tel:{{client.contact.phone}}">{{client.contact.phone}}</a>
              </p>
        </div>
    </div>
</div>
<div *ngIf="!client">
  <p>Select client to see details...</p>
</div>
